.gobackbtn {
  padding: 30px 0;
  cursor: pointer;
  font-size: 35px;
}

.gobackbtn a {
  color: var(--color-blue);
  margin-left: 20px;
}

.user__box {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.user__info {
  display: flex;
  flex-direction: column;
}

.user__info img {
  width: 250px;
  height: 250px;
}

.user__info h2 {
  color: var(--color-blue);
  margin-top: 15px;
  text-align: center;
}